:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  font: 16px/1.4 var(--sans);
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.9);
  background: #05070f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  overflow: hidden;
}
